<a href="https://colab.research.google.com/github/mustafaozsahinn/assessments/blob/main/assingnment7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Task - 1 :
# You work for a manufacturer as a programmer and have been asked to calculate 
# the total profit made on the sales of a product. You are given a dictionary 
# (sales) containing the cost price per unit (in dollars), sell price per unit 
# (in dollars), and the beginning inventory. Write a program to return the total
# profit made, rounded to the nearest dollar. Assume all of the inventory has been sold.
# The name and the keys of the dictionary are constant, so use them as they are.

# The example of the values (sell-cost value, inventory) and total profit :

sales = {
  "cost_value": 31.87,
  "sell_value": 45.00,
  "inventory": 1000
}  

# the profit will be : 13130

In [1]:
#task 1 first answer
sales = {
  "cost_value": 31.87,
  "sell_value": 45.00,
  "inventory": 1000
}  

mydict = sales.values()
mylist = list(mydict)
total_profit = mylist[2] * (mylist[1] - mylist[0]) 
print(round(total_profit))

13130

In [2]:
# second way
total_profit = sales["inventory"] * (sales["sell_value"] - sales["cost_value"])
print(round(total_profit))

13130

In [ ]:
# Task - 2 :
# Your boss wants you to prepare the payrolls of the workers in your department.
# You have to convert the amount of dollars into payroll format.
# In order to help move things along, you have volunteered to write a code 
# that will take a float and return the money in the following format (as dollars and cents).

# Examples

# Given Float Type amount	      Desired Output
# 3	                            $3.00
# 29.99	                        $29.99
# 4.1	                          $4.10

# The output should be float type as well and two digits after the period.

In [5]:
# answer
payrolls = {"first" : 3,
            "second" : 29.99,
            "third" : 4.1}

print(" ${:.2f} ".format(payrolls["first"]))

print(" ${:.2f} ".format(payrolls["second"]))

print(" ${:.2f} ".format(payrolls["third"]))

 $3.00
 $29.99
 $4.10

# extra examples
mutable : değiştirilebilir.
* list
* dictionary
* set
* user-defined class

immutable (hashable): yani hash değeri var ve değiştirilemez.
* int
* float
* decimal
* bool
* string
* tuple
* range

In [6]:
dictionary = {}
key1 = (1, 2, 3)
dictionary[key1] = "value"
dictionary

{(1, 2, 3): 'value'}

In [8]:
key2 = 45
dictionary[key2] = "value2"
dictionary

{(1, 2, 3): 'value', 45: 'value2'}

In [9]:
key3 = "fuad"
dictionary[key3] = "value3"
dictionary

{(1, 2, 3): 'value', 45: 'value2', 'fuad': 'value3'}

In [10]:
# key 4 olmayacak çünkü key olarak mutable olduğu için list, dict filan olmaz
key4 = [1, 2, 3]
dictionary[key4] = "value4"

TypeError: ignored

In [ ]:
# burada çok hızlı ilerledik. notları hoca paylaşacak.

In [16]:
# zip fonksiyonu iki listeyi pair şeklinde birleştirdi.
# zip kendini göstermez -on the air olduğu için-, list içine atmak gerekir.
# dictionary oluşturmak için kullanılabilir.

alist = [1, 2, 3, 4, 5]
blist = ["a", "b", "c", "d", "e"]
ziplist = zip(alist, blist)
print(ziplist)
print(list(ziplist))

<zip object at 0x7fdb0c821c80>
[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [17]:
# * ile print edince boş geliyor!!
print(*ziplist)

In [20]:
# range ile sonsuz listeler oluşturulabilir,
# zip ile bu listeler dictionary haline getirilir.
basiclist = list(range(10))
dict(list(zip(basiclist, basiclist)))

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9}